@media screen and (max-width:768px){
    .top-menu{
        display: none;
    }
    
    .btn-trigger{
        display: block;
        width: 50px;
        aspect-ratio: 1/1;
    }

    .btn-trigger span{
        display: block;
        width: 50px;
        height: 4px;
        margin: 20% 0;
        background-color: #000000;
    }


    #mainvisual{
        width: 100%;
        aspect-ratio: 1400/613;
        background: url("../image/mainvisual2s.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: grid;
        place-items: center;
    }

    .message{
        width: 90%;
        aspect-ratio: 700/115;
        background-color: #FFFFFF;
        opacity: 0.8;
        display: grid;
        place-items: center;
    }

    .message h2{
        font-size: 20px;
        font-weight: bold;
    }

    .message p{
        font-size: 18px;
    }
    
    #articles{
        width: 100%;
        height: auto;
        display: grid;
        place-items: center;
    }

    .main-contents h2{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-contents{
        width: 100%;
        height: auto;
        margin: 50px auto;
    }

    .columns3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .columns3 article{
        width: 100%;
        height: auto;
        color: #FFFFFF;
    }

    .blue{
        background-color: #4B69C1;
    }

    .red{
        background-color: #DE5B83;
    }

    .green{
        background-color: #61C163;
    }

    .columns3 img{
        width: 100%;
        height: auto;
    }


    .columns3 h3{
        font-size: 20px;
        text-align: center;
        margin: 30px auto;

    }

    .columns3 p{
        margin: 14px;
    }

    #customer-voice{
        width: 100%;
        height: auto;
    }

    .over-blue{
        width: 100%;
        height: auto;
        background-color: #4B69C1;
        display: grid;
        place-items: center;
    }

    .under-red{
        width: 100%;
        height: auto;
        background-color: #DE5B83;
        display: grid;
        place-items: center;
    }

    .contents img{
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin: 36px;
    }

    .over-blue .contents{
        width: 72%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        color: #FFFFFF;
    }

    .under-red .contents{
        width: 72%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        color: #FFFFFF;
    }

    .contents h3{
        font-size: 28px;
    }

    .contents p{
        font-size: 14px;
        margin: 36px auto;
    }

    .contents .voice{
        text-align: center;
    }


}