@media screen and (max-width:768px){
    .top-menu{
        display: none;
    }
    .btn-trigger、.btn-trigger span{
        display: inline-block;
        transition: all .5s;
        box-sizing: border-box;
    }
}