
.nav-items{
    width:80%;
    margin: 27px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width:450px;
    display: flex;
    justify-content: space-between;
}

.mainvisual{
    
}

/* .message{
    width: 50%;
    height: 30%;
    background: gray;
} */