@charset "UTF-8";

body {
    min-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #464646;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

#header {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    visibility: visible;
    opacity: 100;
}

#header #nav ul {
    display: flex;
}

#header #nav ul li {
    padding: 0 20px;
}


#header #nav ul li.last {
    padding: 0 0 0 20px;
}

#header #nav ul li a {
    padding-bottom: 10px;
    color: #464646;
    text-decoration: none;
}

#header #nav ul li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #ccc;
    color: #aaa;
}

#mainslide {
    position: relative;
    /* 親要素にrelativeを入れておいてあげることで、文言が思った通りの場所にくる（重なる） */
    overflow: hidden;
    /*はみ出した部分を表示しない*/
}

.slick01 {
    max-height: 600px;
}

.slick01 img {
    width: 100%;
}

#mainslide .slide-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .7);
    width: 800px;
    padding: 30px 0;
    text-align: center;
}

#mainslide .slide-message .slide-message-top {
    font-size: 40px;
    margin-bottom: 25px;
}

#mainslide .slide-message .slide-message-bottom {
    font-size: 32px;
}


h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}

.col3 {
    width: 32%;
    color: #fff;
}

.strong01 {
    background: #4B69C1;
}

.strong02 {
    background: #DE5B83;
}

.strong03 {
    background: #61C163;
}

.col3 img {
    width: 100%;
    height: auto;
}

.col3 .box-content {
    padding: 30px 25px;
    line-height: 140%;
}

.col3 h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.col3 p {
    font-size: 16px;
}

.flex-contaner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainBlock {
    padding: 50px 0 50px;
}



#voice.mainBlock {
    padding: 0;
}

.voice01 {
    background: #4B69C1;
    padding: 50px 0;
}

.voice02 {
    background: #DE5B83;
    padding: 50px 0;
}


.voice-image {
    width: 30%;
    text-align: center;
}

.voice-message {
    width: 70%;
    color: #fff;
}

.voice-image img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.voice01 .flex-contaner {
    flex-direction: row-reverse;
}

#voice .flex-contaner {
    align-items: center;
}

.voice-message h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.voice-message p {
    line-height: 150%;
}

.wrapper-inner {
    width: 800px;
    margin: 0 auto;
}

#feature {
    background: url(../image/feature-back.jpg);
    background-position: center center;
    background-size: cover;
}

.feature-block {
    width: 42%;
    background: #E7E7E7;
    border-radius: 10px;
    padding: 20px 2%;
    margin-bottom: 30px;
}

.feature-block h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.feature-block p {
    font-size: 24px;
}

#contact {
    background: #E7E7E7;
}

.contact-info {
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 60px;
}

.contact-btn {
    background: #DE5B83;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    font-size: 34px;
}

.contact-btn a {
    color: #fff;
    text-decoration: none;
}

#footer {
    background: #222222;
    padding: 30px 0;
}

#footer h3 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

#footer a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    line-height: 150%;
}

.footer-menu {
    padding-bottom: 50px;
}

.footer-copy {
    border-top: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding: 30px 0 0;
}