@charset "UTF-8";

.wrapper1000 {
	width:1000px;
	margin:0 auto;
	text-align:left;
}
#header {
	margin-top: 35px;
	margin-bottom: 35px;
	display: flex;
	justify-content: space-between;
}
#header p {
	/* float: left; */
}
#header #nav {
	/* float: right; */
	margin-top: 36px;
}
#header #nav ul li {
	float: left;
	border-right: 1px solid #ddd;
	padding: 0px 20px;
	line-height:100%;
}
#header #nav ul .last {
	border-right: none;
	padding: 0 0 0 20px;
}
#header #nav ul li a {
	padding-bottom:10px;
	color: #666;
}
#header #nav ul li a:hover {
	text-decoration:none;
	border-bottom:3px solid #ccc;
	color:#aaa;
}
.mainBlock {
	padding: 30pt 0px 30px;
}
.mainBlock h2 {
	background: #eee;
	font-size: 250%;
	color: #333;
	margin-bottom: 50px;
	padding: 30px 0px;
	text-align: center;
	letter-spacing: normal;
}
.mainBlock .col2 {
	width: 47.5%;
	margin-right: 5%;
	float:left;
}
.mainBlock .col3 {
	width: 30%;
	/* margin-right: 5%;
	float:left; */
}
.mainBlock .col4 {
	width: 22%;
	margin-right: 4%;
	float:left;
}
.mainBlock .box.last {
	margin-right: 0;
}
.mainBlock .image1 {
	text-align: center;
	margin: 0px 0px 10px;
}
.mainBlock .box h3 {
	font-size: 24px;
	margin: 20px 0 20px;
	line-height: 150%;
	padding: 0 10px;
}
.mainBlock.color1 {
	background: #eee;
}
.mainBlock.color1 h2 {
	background: #fff;
}
.mainBlock.color2 {
	background: #E3FECF;
}
.mainBlock.color2 h2 {
	background: #fff;
	color:#01be84;
}
.mainBlock .box p {
	color: #666;
	margin-bottom: 15px;
	text-align: justify;
	padding: 0 10px;
}
#footer {
	text-align: left;
	background:#222;
}
#footer .mainBlock .box h3 {
	font-size: 16px;
	margin-top: 0px;
	color: #eee;
	margin-bottom: 5px;
}
#footer li a {
	color:#ccc;
	font-size:12px;
}
#footer address {
	margin-top: 30px;
	color:#eee;
}
/* ------------
  ボタン
------------ */
.btn {
	position: relative;
	display: inline-block;
	margin: 4px 4px 0 0;
	padding: 5px 10px;
	border: 1px solid #666;
	border-radius: 4px;
	color: #333;
	text-align: center;
	white-space: nowrap;
	cursor:pointer;
	text-decoration: none;
	vertical-align: bottom;
	letter-spacing: .05em;
	font-size: 14px;
	font-family: 'FOT-ロダン Pro M', sans-serif;

/*  background: #403e3e;
box-shadow: inset 0 -1px 1px rgba(0,0,0,.4);
*/
}
.btn:hover,
.btn:focus {
	box-shadow: none;
	background: #595757;
	color: #fff;
	transition: background-color .2s linear;
	text-decoration:none;
}
.btn:active {
	background: #262424;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.4);
}
.btn-l {
	padding: 1em 2em;
	border-radius: 6px;
	font-size: 1.5rem;
}
.btn-width {
	width:100%;
	padding: .7em 0;
}
#mainvisual {
	height: 175px;
	padding:270px 0 0 0;
	background: url(../images/mainvisual_bg.jpg);
	background-position: center center;
	background-size: 3000px 445px;
}
#mainvisual h1{
	font-size:36px;
	font-family: 'Roboto Slab', serif;
	background-color:#fff;
	padding:20px;
}
#mainvisual p{
	font-size:16px;
	background-color:#fff;
	padding: 0 20px 20px;
}
#mainvisual2 {
	height: 150px;
	padding:50px 0 0 0;
	background: url(../images/mainvisual2_bg.jpg);
	background-position: center center;
	background-size: 3000px 445px;
}
#mainvisual2 h1{
	font-size:36px;
	font-family: 'Roboto Slab', serif;
	background-color:#fff;
	padding:20px 20px 15px 40px ;
}
#mainvisual2 p{
	font-size:16px;
	background-color:#fff;
	padding: 0 40px 20px;
}
.mainBlock .col1 p,
.mainBlock .col2 p {
	text-align: left;
}
.mainBlock p.image1 {
	text-align: center;
	padding: 0;
}
.lead {
	font-size: 120%;
	margin-bottom: 30px;
	line-height: 170%;
}
.mainBlock .news {
	margin: 40px;
}
.wrapper1000.cf .news li {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 110%;
}
#pagetop {
	position:fixed;
	right:16px;
	bottom:16px;
	display:none;
}
input,
textarea {
	border:0;
	padding:10px;
	font-size:16px;
	font-family:Arial, sans-serif;
	border:solid 1px #ccc;
	margin:0 0 20px;
	width:400px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.mainBlock .image1 img { width: 100%; height: auto;}

.mainBlock .box {
	margin-bottom: 20px;
}

/*
.mainBlock .flex-contaner .box {
	background: #ddd;
}

*/
.flex-contaner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* align-items: center; */
}

/*　PCサイズでは、ハンバーガーメニューが関係しないように消しておく　*/
.btn-trigger {	
	display: none;
}

/*　スライドショー　*/
#mainslide .slick-slide img {
	width: 100%;	
	height: auto;
}

#mainslide .slick-next {  
  	right: 10px;	
	z-index: 1;
}

#mainslide .slick-prev {   
 	left: 10px;	
	z-index: 1;
}

	